a{
  img{
    cursor: pointer;
      transition: transform 0.2s ease-in;

  }
  img:hover{
    transform: rotate(-2deg);
    transition: transform 0.2s ease-in-out;
  }
}

@media (max-width:900px) {
  .sideBar{
    display: none;
    gap:0 !important;
  }
}