<nav class=" max-w-44 w-full ml-4">
  <ul class="flex flex-col items-center gap-7 ">
    <li>
      <a href="">
        <img src="../../../../assets/imgs/sideBar/colaboradores.svg" alt="Icon colaboradores"
          class="w-6 cursor-pointer">
      </a>
    </li>
    <li>
      <a href="/painel">
        <img src="../../../../assets/imgs/sideBar/home.svg" alt="Icon Home" class="w-6 cursor-pointer">
      </a>
    </li>
    <li>
      <a href=""><img src="../../../../assets/imgs/sideBar/config.svg" alt="Icon config" class="w-6 cursor-pointer">
      </a>
    </li>
    <li>
      <a href="">
        <img src="../../../../assets/imgs/sideBar/duvidas.svg" alt="Icon duvidas" class="w-6 cursor-pointer">
      </a>
    </li>
      
  </ul>
</nav>