.inputForm{
  outline: none;
  border: 1px solid #D3D3D3;
  background-color: transparent;
}
.inputForm::placeholder{
  color: var(--color-text-quintenary);
}
.inputForm:focus{
    transition: border 0.2s ease-in-out;
  border: 2px solid #a0a0a0;
}
.inputForm:-webkit-autofill-highlight {
  color: #000; /* Cor do texto */
  background-color: #fff; /* Cor de fundo */
}
.buttonAdvance{
    transition: transform 0.2s ease-in-out;
    opacity: 0.9;
}
.buttonAdvance:hover{
  opacity: 1.1;
  transform: scale3d(1.03, 1.03, 1.03) rotate(0.3deg);
}