<section class="animated animate__animated animate__fadeIn raleway color-bg-primary">
  <main [ngClass]="{ 'animate__animated animate__fadeIn': isToggleChangeTheme }" class="container">
    <div class="flex justify-around items-center  min-h-screen mx-8 max-[900px]:mx-12">
      <!-- Form -->
      <div>
        <div class=" flex items-center">
          <div class="relative l-20">
            <button class=" p-1 rounded-full" (click)="isClickChangeTheme()"
              *ngIf="isToggleChangeTheme; else light">
              <img class="w-6" src="../../../assets/imgs/theme_mode_icon/dark theme icon/moon.svg"
                alt="Icon theme dark">
            </button>
            <ng-template #light>
              <button class="p-1 rounded-full" (click)="isClickChangeTheme()">
                <img class="w-6" src="../../../assets/imgs/theme_mode_icon/dark theme icon/sun.svg"
                  alt="Icon theme ligth">
              </button></ng-template>
          </div>
          <h1 class="font-semibold text-6xl my-16 m-auto"><span class="color-text-terciary"
              [ngClass]="{ 'color-text-white': isToggleChangeTheme }">Q</span><span
              class="color-text-quaternary">uas</span><span class="color-text-terciary"
              [ngClass]="{ 'color-text-white': isToggleChangeTheme }">e </span><span class="color-text-terciary"
              [ngClass]="{ 'color-text-white': isToggleChangeTheme }">lá </span><span class="color-text-terciary"
              [ngClass]="{ 'color-text-white': isToggleChangeTheme }">!</span></h1>
        </div>

        <form class="flex flex-col w-96" (ngSubmit)="onSubmit($event)">
          <label for="cnpj" class="my-1 color-text-terciary font-bold ml-1 cursor-pointer">CNPJ</label>
          <input type="text" id="cnpj" placeholder="XX. XXX. XXX/0001-XX" required="required"
            class="inputForm mb-5 py-3 pl-3 rounded-lg placeholder:text-sm font-bold text-sm color-text-quintenary" [(ngModel)]="cnpj" name="cnpj" (ngModelChange)="onChangeForm($event)"> 
          <label for="senha" class="my-1 color-text-terciary font-bold ml-1 cursor-pointer">Senha</label>
          <input type="text" id="senha" placeholder="************"
            class="inputForm text:sm color-text-quintenary mb-5 py-3 pl-3 rounded-lg placeholder:text-sm font-bold text-sm color-text-quintenary" [(ngModel)]="senha" name="senha" maxlength="12" minlength="4"  (ngModelChange)="onChangeForm($event)">
          <label for="senhaConfirm" class="my-1 color-text-terciary font-bold ml-1 cursor-pointer">Repita a senha</label>
          <input type="text" id="senhaConfirm" placeholder="Repita a senha corretamente"
            class="inputForm mb-5 py-3 pl-3 rounded-lg placeholder:text-sm font-bold text-sm color-text-quintenary"  [(ngModel)]="senhaConfirm" name="senhaConfirm" maxlength="12" minlength="4"  (ngModelChange)="onChangeForm($event)">
            <p *ngIf="errorForm" class="text-center text-red-600 font-bold animated animate__animated animate__fadeIn">{{errorMessage}}</p>
          <button
            class="buttonAdvance color-bg-quaternary p-2 mb-8 rounded-md text-2xl font-bold color-text-white border-2 mt-5">Concluir</button>
          <!-- <a href="" class="flex justify-center font-extrabold color-text-terciary contCreate" >JÁ TEM
            UMA CONTA</a> -->
        </form>
      </div>
      <!-- IMG -->
      <div class="w-6/12 mt-20">
        <img src="../../../../assets/imgs/advace_login_ligth.svg" alt="imagem advence login - (theme: ligth)"
          *ngIf="!isToggleChangeTheme;else dark" class="animate__animated animate__fadeIn" dark>
        <ng-template #dark>
          <img src="../../../../assets/imgs/advance_login_dark.svg" alt="imagem advence login - (theme: dark)"
            class="animate__animated animate__fadeIn">
        </ng-template>

      </div>
    </div>
  </main>
</section>