<div  class="modal raleway animated animate__animated animate__fadeInUp"  [ngClass]="{ 'darkMode': isToggleChangeTheme }">
  <div class="bg-white containerModal flex flex-col items-center justify-center gap-16 rounded-xl color-bg-primary">
    <h1 class="text-5xl font-bold color-text-terciary ">Adicione sua Tarefa</h1>
    <div class="relative">
    <div class="flex flex-col">
      <label for="tarefa" class="text-gray-400 font-bold cursor-text">Digte sua tarefa aqui</label>
      <textarea type="text" class="resize-none overflow-hidden textArea p-3 text-lg font-medium text-gray-500"></textarea>
    </div>
      <div class="flex gap-10 items-end absolute right-1 pt-10 text-sm text-white">
        <button class="buttonCancelar px-7 py-2 font-bold rounded-md hover:scale-105 transition-transform" (click)="closeModal()">Cancelar</button>
        <button class="buttonAdicionar px-7 py-2 font-bold rounded-md hover:scale-105 transition-transform" (click)="addTaks()">Adicionar</button>
      </div>
    </div>
  </div>
</div>