<section class="raleway containerPainel raleway">
  <div id="rota">
    <div class="flex gap-5 my-12">
      <img src="../../../../assets/imgs/homeIcon/arrow.svg" alt="ICON SETA" class="w-6"  *ngIf="!isToggleChangeTheme; else ligthIcon">
      <ng-template #ligthIcon>
      <img src="../../../../assets/imgs/homeIcon/arrowDark.svg" alt="ICON SETA" class="w-6" >
      </ng-template>
      <p class="text-2xl color-text-terciary font-bold">Painel</p>
    </div>
  </div>
  <div class="cadrastarColaboradores my-12" id="colaboradores">
    <button
      class="flex bgGradientLight w-screen max-w-5xl py-9 rounded-xl justify-center items-center gap-4 cursor-pointer hover:opacity-95 transition-opacity containerGradientLigth" *ngIf="!isToggleChangeTheme; else bgDark">
      <img src="../../../../assets/imgs/homeIcon/adicionar_white.svg" alt="Icon adicionar" class="w-10">
      <p class="text-white text-3xl font-bold colaboradorText">Cadrastrar novo Colaborador</p>
    </button>
    <ng-template #bgDark>
        <button
      class="flex bgGradientDark w-screen max-w-5xl py-9 rounded-xl justify-center items-center gap-4 cursor-pointer hover:opacity-95 transition-opacity containerGradientDark">
      <img src="../../../../assets/imgs/homeIcon/adicionar_white.svg" alt="Icon adicionar" class="w-10">
      <p class="text-white text-3xl font-bold colaboradorText">Cadrastrar novo Colaborador</p>
    </button></ng-template>
    
  </div>
  <div class="dadosContainer flex justify-center gap-10 my-12" id="dados"  [ngClass]="{ 'darkMode': isToggleChangeTheme }" >
    <div class="flex items-center gap-10 border border-neutral-300 py-4 px-8 rounded-xl card1">
      <div class="flex flex-col gap-3 ">
        <p class="text-base color-gray-ligth">Colabores ativos</p>
        <p class="text-3xl font-sans color-text-card1 font-semibold"  [ngClass]="{ 'text-white': !isToggleChangeTheme }">30</p>
      </div>
      <img src="../../../../assets/imgs/homeIcon/userGrenn.svg" alt="Icon User" class="w-12" *ngIf="!isToggleChangeTheme; else userPurple">
      <ng-template #userPurple>
       <img src="../../../../assets/imgs/homeIcon/userPurpleDark.svg" alt="Icon User Dark" class="w-12"></ng-template>
      
    </div>
    <div class="flex items-center gap-10  border border-neutral-300 py-4 px-8 rounded-xl card2">
      <div class="flex flex-col gap-3 ">
        <p class="text-base color-gray-ligth">Colabores Afastados</p>
        <p class="text-3xl font-sans color-text-card2 font-semibold">2</p>
      </div>
      <img src="../../../../assets/imgs/homeIcon/userRed.svg" alt="Icon UserRed" class="w-12">
    </div>
    <div class="flex items-center gap-10 border border-neutral-300 py-4 px-8 rounded-xl card3">
      <div class="flex flex-col gap-3 ">
        <p class="text-base color-gray-ligth">Colabores de Férias</p>
        <p class="text-3xl font-sans color-text-card3 font-semibold">2</p>
      </div>
      <img src="../../../../assets/imgs/homeIcon/sun.svg" alt="Icon Sun" class="w-12">
    </div>
  </div>
  <!-- TAKS -->
  <div class="containerTarefas flex items-center flex-col gap-16 relative" id="Tarefas"  [ngClass]="{ 'darkMode': !isToggleChangeTheme }">
    <!-- TEXT -->
    <div class="">
      <h2 class="text-5xl color-text-terciary font-bold">Tarefas</h2>
    </div>
    <!-- Tarefas -->
    <div class="flex flex-col gap-6 text-base font-medium mb-10 containerTarefas cursor-pointer">
      <div class="flex items-center gap-1  p-4 rounded-md relative cardTarefa">
        <label class='checkbox'>
          <input type="checkbox" class="inputCheckbox" />
          <svg viewBox="0 0 64 64" height="27px" class="svgCheckbox">
            <path
              d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16"
              pathLength="575.0541381835938" class="path"></path>
          </svg>
        </label>
        <p class="inline ml-3 animate"  [ngClass]="{ 'text-white': isToggleChangeTheme }"  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nesciunt modi fuga voluptatum quo est. Hic unde dolorum placeat blanditiis laudantium sint mollitia consequuntur, nulla molestiae facilis consequatur, deleniti temporibus!</p>
        <button class="buttonModalDeletar " (click)="IsModalDeletar()">
          <img src="../../../../assets/imgs/homeIcon/lixeira_ligth.svg" alt="Icon Lixeira ligth"
            class="w-9 absolute top-3 right-4 bg-slate-300 rounded-lg p-2 animated animate__animated animate__fadeIn">
        </button>
        <div>
        </div>
      </div>
            <div class="flex items-center gap-1  p-4 rounded-md relative cardTarefa">
        <label class='checkbox'>
          <input type="checkbox" class="inputCheckbox" />
          <svg viewBox="0 0 64 64" height="27px" class="svgCheckbox">
            <path
              d="M 0 16 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 16 L 32 48 L 64 16 V 8 A 8 8 90 0 0 56 0 H 8 A 8 8 90 0 0 0 8 V 56 A 8 8 90 0 0 8 64 H 56 A 8 8 90 0 0 64 56 V 16"
              pathLength="575.0541381835938" class="path"></path>
          </svg>
        </label>
        <p class="inline ml-3 animate"  [ngClass]="{ 'text-white': isToggleChangeTheme }"  >Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque nesciunt modi fuga voluptatum quo est. Hic unde dolorum placeat blanditiis laudantium sint mollitia consequuntur, nulla molestiae facilis consequatur, deleniti temporibus!</p>
        <button class="buttonModalDeletar " (click)="IsModalDeletar()">
          <img src="../../../../assets/imgs/homeIcon/lixeira_ligth.svg" alt="Icon Lixeira ligth"
            class="w-9 absolute top-3 right-4 bg-slate-300 rounded-lg p-2 animated animate__animated animate__fadeIn">
        </button>
        <div>
        </div>
      </div>
      
      <!-- <h1 class="text-5xl font-semibold tracking-wider logoHeader my-16">
          <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }">N</span>
          <span class="color-text-quaternary">ão</span>
          <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }"> há </span>
          <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }">n</span>
          <span class="color-text-quaternary">enh</span>
          <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }">uma </span>
          <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }">t</span>
          <span class="color-text-quaternary">ar</span>
          <span class="color-text-terciary" [ngClass]="{ 'color-text-white': isToggleChangeTheme }">efa...</span>

      </h1> -->
      <button class="absolute right-0 bottom-0" (click)="addedTaks()">
        <img src="../../../../assets/imgs/homeIcon/adicionar_ligth.svg" alt="Icon adicionar Ligth"
          class="w-12"></button>
      <p class="text-xs opacity-50 text-center"  [ngClass]="{ 'text-gray-300': isToggleChangeTheme }">Pode somente <span class="font-sans">5 </span>tarefas*</p>
    </div>
  </div>
  <div>
  </div>
</section>
<app-modal [IsModal]='isToggleChangeTheme' *ngIf="isToggleModalAddedTaks" (closeModalEvent)="modalEventClose()"></app-modal>